body {
    font-family: monospace;
}

#bg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    /* Certifica-se de que fique atrás do conteúdo */
}

#content {
    position: relative;
    z-index: -10;
    /* Certifique-se de que o conteúdo fique na frente */
}

/* Estilos para o toast */
.toast {
    visibility: hidden;
    min-width: 250px;
    max-width: 80%;
    background-color: #333;
    color: #ff0000;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-size: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
    transform: translateX(-50%);
}

.toast.show {
    visibility: visible;
    opacity: 1;
}

.accessibility-container {
    position: fixed;
    top: 40%;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.accessibility-button {
    width: 40px;
    height: 40px;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.accessibility-button img {
    filter: brightness(0) invert(1);
}

.accessibility-button:hover {
    background-color: #002853;
}

.accessibility-button:focus {
    outline: 2px solid #0056b3;
}

.highlight {
    background-color: rgb(255, 255, 133);
    color: black;
}

.bordas-redondas {
    border-radius: 20px;
}

/* Customiza o estilo do checkbox */
#professor:checked,
#coordenador:checked,
#funcionario:checked {
    background-color: #2563eb;
    border-color: transparent;
}

/* Estilo padrão para o checkbox */
#professor,
#coordenador,
#funcionario {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.5em; /* Usando 'em' para manter a proporcionalidade */
    height: 1.5em; /* Mantém o círculo proporcional */
    border: 2px solid #2563eb;
    border-radius: 50%; /* Mantém o formato circular */
    outline: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease; /* Adiciona uma transição suave */
}

/* Marca de verificação quando o checkbox está marcado */
/* Marca de verificação quando o checkbox está marcado */
#professor:checked::before,
#coordenador:checked::before,
#funcionario:checked::before {
    content: '';
    position: absolute;
    top: 30%; /* Ajusta a posição central da marca de verificação */
    left: 30%;
    width: 40%; /* Ajusta o tamanho da marca de verificação proporcionalmente */
    height: 40%; /* Ajusta o tamanho da marca de verificação proporcionalmente */
    background-color: white;
    border-radius: 50%;
}

.texto-mancha {
    background: linear-gradient(to right, black 96%, #00BFFF 4%); /* Mancha preta para azul */
    background-size: 200%; /* Tamanho maior que o texto */
    background-clip: text; /* Clipa o gradiente ao texto */
    -webkit-background-clip: text; /* Suporte para WebKit */
    color: transparent; /* Torna o texto transparente para mostrar o gradiente */
    animation: passar-mancha 18s ease-in-out infinite; /* Animação suave */
}

@keyframes passar-mancha {
    0% {
        background-position: 200% 0; /* Começa fora da direita */
    }
    50% {
        background-position: 0% 0; /* Mancha no centro */
    }
    100% {
        background-position: -200% 0; /* Termina fora da esquerda */
    }
}

h6 span {
    padding: 0 20px;
}

.section {
    position: relative;
    width: 100%;
    display: block;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    display: none;
}

.checkbox:checked+label,
.checkbox:not(:checked)+label {
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background-color: #DDFB20;
}

.checkbox:checked+label:before,
.checkbox:not(:checked)+label:before {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #DDFB20;
    background-color: #1f2829;
    font-family: 'unicons';
    content: '\eb4f';
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
}

.checkbox:checked+label:before {
    transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
    position: relative;
    width: 440px;
    max-width: 100%;
    height: 900px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: -150px;
}

.checkbox:checked~.card-3d-wrap {
    height: 1020px;
    /* Ajuste a altura para o tamanho do formulário maior */
}

.card-3d-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    -webkit-transform-style: preserve-3d;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
    visibility: hidden;
}

.checkbox:checked~.card-3d-wrap .card-back {
    visibility: visible;
}

.checkbox:not(:checked)~.card-3d-wrap .card-back {
    visibility: hidden;
}

.checkbox:checked~.card-3d-wrap .card-front {
    visibility: hidden;
}

.checkbox:checked~.card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
}

.center-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block;
}