h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

#nav-menu {
    margin-left: -175px;
    /* Ajuste o valor conforme necessário */
}

@media (max-width: 728px) {
    #nav-menu {
        margin-left: 0px;
        /* Ajuste o valor conforme necessário */
    }

    .centralizar {
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        /* Ajusta a largura ao conteúdo */
    }
}